.research-title {
  h4 {
    margin-bottom: 0px !important;
  }
}
.research-meta {
	line-height: 1.2;
}
.research-context {
  padding-top: 0.5em;
  padding-left: 1em;
  font-size: 90%;
  line-height: 1.3rem;
}
.research-context p {
  line-height: 1.3rem;
}
