---
layout: page
title: CV
---
<div class="tabsWrapper clear" id="t0">
<ul class="tabs">
    <li>
        <a href="#t1">ABOUT ME</a></li>
    <li>
        <a href="#t2">EDUCATION</a></li>
    <li>
        <a href="#t3">EMPLOYMENT</a></li>
    <li>
        <a href="#t4">WRITING</a></li>
    <li>
        <a href="#t5">IN PUBLIC</a></li>
    <li>
        <a href="#t6">AWARDS + GRANTS</a></li>
    <li>
        <a href="#t7">TEACHING</a></li>
    <li>
        <a href="#t7a">WORKSHOPS LED</a></li>
    <li>
        <a href="#t8">DIGITAL PROJECTS</a></li>
    <li>
        <a href="#t9">SERVICE</a></li>
    <li>
        <a href="#t10">SKILLS</a></li>
    <li id="pdftab">
        <a href="/assets/files/{{ site.data.cv.meta.link }}">PDF</a></li>
</ul>
</div>

<!-- 1: Profile -->
<div class="clear">
<h2><span id="t1"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Hi, I&rsquo;m Jeffrey Moro</h2>
    <div class="column-last column-bottom clear">
        <p>{{ site.data.cv.profile }}</p>
    </div>
</div>

<!-- 2: Education -->
<div class="clear">
    <h2><span id="t2"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Education</h2>
    {% for institution in site.data.cv.education %}
        <div class="one-fourth column-bottom clear subcat">{{ institution.date }}</div>
        <div class="three-fourths column-last column-bottom clear">
            <b>{{ institution.institution }}</b><br/>
            <span class="cv-meta">{{ institution.degree }} • {{ institution.awards }}</span>
        </div>
    {% endfor %}
</div>

<!-- 3: Employment -->
<div class="clear">
<h2><span id="t3"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Employment</h2>
{% for title in site.data.cv.employment %}
    <div class="one-fourth column-bottom clear subcat">{{ title.date }}</div>
    <div class="three-fourths column-last column-bottom clear">
        <b>{{ title.title }}</b> • <a id="showEmployment{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
        <span class="cv-meta">{{ title.company }}.</span>
        <div class="context" id="employment{{ forloop.index }}"><p>{{ title.context }}</p></div>
    </div>
{% endfor %}
</div>

<!-- 4: Writing -->
<div class="clear">
<h2><span id="t4"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Publications</h2>

{% for title in site.data.cv.journals %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Peer-Reviewed Journals</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • <i>{{ title.journal }}</i>, {{ title.number }}</span>
        </div>
{% endfor %}

{% for title in site.data.cv.web %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Web</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • <i>{{ title.venue }}</i></span>
        </div>
{% endfor %}

</div>

<!-- 5: Talks -->
<div class="clear">
<h2><span id="t5"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> In Public</h2>

{% for title in site.data.cv.conference-talks %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Conference Talks</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • {{ title.institution }} • {{ title.location }}, <i>{{ title.event }}</i></span>
        </div>
{% endfor %}

{% for title in site.data.cv.conference-other %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Roundtables & Panels</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>&ldquo;{{ title.title }}&rdquo;</b><br/></a>
            {% else %}
                <b>&ldquo;{{ title.title }}&rdquo;</b><br/>
            {% endif %}
            <span class="cv-meta">{{ title.date }} • {{ title.institution }} • {{ title.location }}, {{ title.type }}, <i>{{ title.event }}</i></span>
        </div>
{% endfor %}

</div>

<!-- 6: Awards -->
<div class="clear">
<h2><span id="t6"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Awards + Grants</h2>
    {% for title in site.data.cv.awards %}
        <div class="one-fourth column-bottom clear subcat"></div>
        <div class="three-fourths column-last column-bottom clear">
            {% if title.context !="" %}
                <b>{{ title.title }}</b>
                 • <a id="showAward{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a><br/>
                <span class="cv-meta">{{ title.secondary }} {{ title.date }}</span><br/>
                <div class="context" id="award{{ forloop.index }}"><p>{{ title.context }}</p></div>
            {% else %}
                <b>{{ title.title }}</b><br/>
                <span class="cv-meta">{{ title.secondary }} {{ title.date }}.</span>
            {% endif %}
        </div>
    {% endfor %}
</div>

<!-- 7: Teaching -->
<div class="clear">
<h2><span id="t7"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Teaching</h2>

<div class="one-fourth column-bottom clear subcat"><em>University of Maryland</em></div>
  <div class="three-fourths column-last column-bottom clear">
    {% for title in site.data.cv.courses-umd %}
      {% if title.url !="" %}
        <a href="{{ title.url }}" target="_blank"><b>{{ title.title }}</b></a>.
      {% else %}
        <b>{{ title.title }}</b>.
      {% endif %}
      <span class="cv-meta">{{ title.date }}.</span><br/>
      {% endfor %}
  </div>

<div class="one-fourth column-bottom clear subcat"><em>Smith College</em></div>
  <div class="three-fourths column-last column-bottom clear">
    {% for title in site.data.cv.courses-smith %}
      {% if title.url !="" %}
        <a href="{{ title.url }}" target="_blank"><b>{{ title.title }}</b></a>.
      {% else %}
        <b>{{ title.title }}</b>.
      {% endif %}
      <span class="cv-meta">{{ title.date }}.</span><br/>
      {% endfor %}
  </div>

</div>

<!-- 7a: Workshops Led -->
<div class="clear">
<h2><span id="t7a"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Workshops Led</h2>

{% for title in site.data.cv.workshop %}
        <div class="one-fourth column-bottom clear subcat"></div>
        <div class="three-fourths column-last column-bottom clear">
            {% if title.url !="" %}
                <a href="{{ title.url }}" target="_blank"><b>{{ title.title }}</b></a>
            {% else %}
                <b>{{ title.title }}</b>
            {% endif %} <br/>
            <span class="cv-meta">{{ title.location }}. {{ title.date }}.</span>
        </div>
{% endfor %}

</div>

<!-- 8: Digital Projects -->
<div class="clear">
<h2><span id="t8"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Digital Projects</h2>

{% for title in site.data.cv.projects %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Major Projects</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            <a href="{{ title.url }}"><b>{{ title.title }}</b></a> • <a id="showProject{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a> • <small>{{ title.role }}. {{ title.date }}.</small>
            <div class="context" id="project{{ forloop.index }}"><p>{{ title.context }}</p></div>
        </div>
{% endfor %}

{% for title in site.data.cv.minor-projects %}
    {% if forloop.first == true %}
        <div class="one-fourth column-bottom clear subcat"><em>Minor Projects</em></div>
    {% else %}
        <div class="one-fourth column-bottom clear subcat"></div>
    {% endif %}
        <div class="three-fourths column-last column-bottom clear">
            <a href="{{ title.url }}"><b>{{ title.title }}</b></a> • <a id="showMinorProject{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></a> • <small>{{ title.role }}. {{ title.date }}.</small>
            <div class="context" id="minorProject{{ forloop.index }}"><p>{{ title.context }}</p></div>
        </div>
{% endfor %}

</div>

<!-- 9: Membership + Service -->
<div class="clear">
<h2><span id="t9"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Service</h2>
        <!--<div class="one-fourth column-bottom clear subcat">Membership</div>
            <div class="three-fourths column-last column-bottom clear">
                {% for title in site.data.cv.membership%}
                    <span class="cv-meta">{{ title.title }}<br/></span>
                {% endfor %}
            </div>-->
        <div class="one-fourth column-bottom clear subcat"></div>
            <div class="three-fourths column-last column-bottom clear">
                {% for title in site.data.cv.service %}
                    <b>{{ title.title }}</b> • <span class="cv-meta">{{ title.institution }}. {{ title.year }}.</span><br/>
                {% endfor %}
            </div>
</div>

<!-- 10: Skills -->
<div class="clear">
<h2><span id="t10"></span><a href="#t0"><i class="fa fa-chevron-up"></i></a> Skills</h2>

    {% for title in site.data.cv.skills%}
            <div class="one-fourth column-bottom clear subcat"></div>
            <div class="three-fourths column-last column-bottom clear">
            <b>{{ title.title }}</b> • <span class="cv-meta">{{ title.things }}</span>
            </div>
    {% endfor %}

</div>
