---
layout: page
title: Research
---

<!-- Publications
<div class="tabsWrapper clear">
<ul class="tabs">
    <li class="active">
        <a href="#t1" id="t1">PUBLICATIONS</a></li>
    <li>
        <a href="#t2">IN PUBLIC</a></li>
    <li>
        <a href="#t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for publications in site.data.research.publications %}
    {% if forloop.last == true %}
        <div class="row row-final grad-{{ forloop.index }} clear">
            <h3>{% if publications.url == "" %}{{ publications.title }}{% else %}<a href="{{ publications.url }}">{{ publications.title }}</a>{% endif %}</h3>
            <p><small>{{ publications.date }}. <i>{{ publications.journal }}</i>.</small></p>
            <p>{{ publications.snippet }}</p>
        </div>
    {% else %}
        <div class="row grad-{{ forloop.index }} clear">
            <h3>{% if publications.url == "" %}{{ publications.title }}{% else %}<a href="{{ publications.url }}">{{ publications.title }}</a>{% endif %}</h3>
            <p><small>{{ publications.date }}. <i>{{ publications.journal }}</i>.</small></p>
            <p>{{ publications.snippet }}</p>
        </div>
    {% endif %}
{% endfor %}
-->
<!-- In Public -->
<div class="tabsWrapper clear">
<ul class="tabs">
    <!--<li>
        <a href="#t1">PUBLICATIONS</a></li>-->
    <li class="active">
        <a href="#t2" id="t2">IN PUBLIC</a></li>
    <li>
        <a href="#t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for public in site.data.research.public %}
    {% if forloop.last == true %}
        <div class="row row-final grad-{{ forloop.index }} clear">
            <h3>“{{ public.title }}”</h3>
            <p class="research-meta"><small>{{ public.date }}. <i>{{ public.conference }}</i>, {{ public.institution }}, {{ public.location }}{% if public.url == "" %}{% else %} • <a href="{{ public.url }}">{{ public.url }}</a>{% endif %}</small></p>
            <p>{{ public.snippet }} {% if public.panel == "" %}{% else %}<i>Panel: “{{ public.panel }}.”</i>{% endif %}</p>
        </div>
    {% else %}
        <div class="row grad-{{ forloop.index }} clear">
            <h3>“{{ public.title }}”</h3>
            <p class="research-meta"><small>{{ public.date }}. <i>{{ public.conference }}</i>, {{ public.institution }}, {{ public.location }}{% if public.url == "" %}{% else %} • <a href="{{ public.url }}">{{ public.url }}</a>{% endif %}</small></p>
            <p>{{ public.snippet }} {% if public.panel == "" %}{% else %}<i>Panel: “{{ public.panel }}.”</i>{% endif %}</p>
        </div>
    {% endif %}
{% endfor %}

<!-- Digital Projects -->
<div class="tabsWrapper clear">
<ul class="tabs">
    <!--<li>
        <a href="#t1">PUBLICATIONS</a></li>-->
    <li>
        <a href="#t2">IN PUBLIC</a></li>
    <li class="active">
        <a href="#t3" id="t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for projects in site.data.research.projects %}
    <div class="row grad-{{ forloop.index }} clear">
        <h3>{{ projects.title }}</h3>
        <p class="research-meta"><small>{{ projects.date }} <i>{{ project.role }}</i>{% if projects.url == "" %}{% else %} • <a href="{{ projects.url }}">{{ projects.url }}</a>{% endif %}</small></p>
        <p>{{ projects.snippet }}</p>
    </div>
{% endfor %}