---
layout: page
title: Research
---

<!-- Publications
<div class="tabsWrapper clear">
<ul class="tabs">
    <li class="active">
        <a href="#t1" id="t1">PUBLICATIONS</a></li>
    <li>
        <a href="#t2">IN PUBLIC</a></li>
    <li>
        <a href="#t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for publications in site.data.research.publications %}
    {% if forloop.last == true %}
        <div class="row row-final grad-{{ forloop.index }} clear">
            <h3>{% if publications.url == "" %}{{ publications.title }}{% else %}<a href="{{ publications.url }}">{{ publications.title }}</a>{% endif %}</h3>
            <p><small>{{ publications.date }}. <i>{{ publications.journal }}</i>.</small></p>
            <p>{{ publications.snippet }}</p>
        </div>
    {% else %}
        <div class="row grad-{{ forloop.index }} clear">
            <h3>{% if publications.url == "" %}{{ publications.title }}{% else %}<a href="{{ publications.url }}">{{ publications.title }}</a>{% endif %}</h3>
            <p><small>{{ publications.date }}. <i>{{ publications.journal }}</i>.</small></p>
            <p>{{ publications.snippet }}</p>
        </div>
    {% endif %}
{% endfor %}
-->
<!-- In Public -->
<div class="tabsWrapper clear">
<ul class="tabs">
    <!--<li>
        <a href="#t1">PUBLICATIONS</a></li>-->
    <li class="active">
        <a href="#t2" id="t2">IN PUBLIC</a></li>
    <li>
        <a href="#t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for public in site.data.research.public %}
    {% if forloop.last == true %}
        <div class="row row-final grad-{{ forloop.index }} clear">
            {% if public.url !="" %}
            <h3><a href="{{ public.url }}">“{{ public.title }}”</a></h3>
            {% else %}
            <h3>{{ public.title }}</h3>
            {% endif %}
            <p class="research-meta"><small>{{ public.date }}. <i>{{ public.conference }}</i>, {{ public.institution }}, {{ public.location }} • <a id="showPublic{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></small></a></p>
            <div class="context" id="public{{ forloop.index }}"><p>{{ public.snippet }} {% if public.panel == "" %}{% else %}<i>Panel: “{{ public.panel }}.”</i>{% endif %}{% if public.url == "" %}{% else %} • <a href="{{ public.url }}"><b>Read the talk here.</b></a>{% endif %}</p></div>
        </div>
    {% else %}
        <div class="row grad-{{ forloop.index }} clear">
            {% if public.url !="" %}
            <h3><a href="{{ public.url }}">“{{ public.title }}”</a></h3>
            {% else %}
            <h3>{{ public.title }}</h3>
            {% endif %}
            <p class="research-meta"><small>{{ public.date }}. <i>{{ public.conference }}</i>, {{ public.institution }}, {{ public.location }} • <a id="showPublic{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></small></a></p>
            <div class="context" id="public{{ forloop.index }}"><p>{{ public.snippet }} {% if public.panel == "" %}{% else %}<i>Panel: “{{ public.panel }}.”</i>{% endif %}{% if public.url == "" %}{% else %} • <a href="{{ public.url }}"><b>Read the talk here.</b></a>{% endif %}</p></div>
        </div>
    {% endif %}
{% endfor %}

<!-- Digital Projects -->
<div class="tabsWrapper clear">
<ul class="tabs">
    <!--<li>
        <a href="#t1">PUBLICATIONS</a></li>-->
    <li>
        <a href="#t2">IN PUBLIC</a></li>
    <li class="active">
        <a href="#t3" id="t3">DIGITAL PROJECTS</a></li>
</ul>
</div>

{% for projects in site.data.research.projects %}
    {% if forloop.last == true %}
        <div class="row row-final grad-{{ forloop.index }} clear">
            <h3><a href="{{ projects.url }}">{{ projects.title }}</a></h3>
            <p class="research-meta"><small>{{ projects.date }} • <i>{{ projects.role }}</i> • <a id="showProjects{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></small></a></p>
            <div class="context" id="projects{{ forloop.index }}"><p>{{ projects.snippet }} • <a href="{{ projects.url }}"><b>Visit the project.</b></a></p></div>
        </div>
    {% else %}
        <div class="row grad-{{ forloop.index }} clear">
            <h3><a href="{{ projects.url }}">{{ projects.title }}</a></h3>
            <p class="research-meta"><small>{{ projects.date }} • <i>{{ projects.role }}</i> • <a id="showProjects{{ forloop.index }}"><i class="fa fa-info-circle" aria-hidden="true"></i></small></a></p>
            <div class="context" id="projects{{ forloop.index }}"><p>{{ projects.snippet }} • <a href="{{ projects.url }}"><b>Visit the project.</b></a></p></div>
        </div>
    {% endif %}
{% endfor %}