// Columns

.one-half,
.one-third,
.two-thirds,
.three-fourths,
.one-fourth
{
	float:left;
	margin-bottom: 1rem;
	margin-right:4%;
	position:relative;
	display:inline;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.one-fourth {
	width:22%;
}
.one-half {
	width:48%;
}
.one-third {
	width:30.66%;
}
.two-thirds {
	width:65.33%;
}
.three-fourths {
	width:74%;
}

//// Clearing sides and bottoms
.column-last {
	clear:right;
	margin-right:0;
}
.column-bottom {
	margin-bottom: 0.75rem;
}

// Specialty Columns

//// General
.bleed {
	margin: 0 -9999rem;
	padding: 0.25rem 9999rem;
}

// Projects
.project {
 	padding-bottom: 1rem;
}
.projectName {
	color: $base-color;
}

// Portfolio
.row {
	overflow: hidden;
	padding: {
		left: 1rem;
		top: 1rem;
		right: 1rem;
		//bottom: 0rem;
	}
	color: #fff;
}
.row h3 {
	margin-top: 0rem;
	color: #fff;
	font-size: 1.1rem;
}
.row a {
	color: $accent-color !important;
}
.row-final {
	margin-bottom: 2rem;
}
.grad-1 {
	background-color: $grad-1;
}
.grad-2 {
	background-color: $grad-2;
}
.grad-3 {
	background-color: $grad-3;
}
.grad-4 {
	background-color: $grad-4;
}
.grad-5 {
	background-color: $grad-5;
}
.grad-6 {
	background-color: $grad-6;
}

.research-meta {
	line-height: 1.2;
}

// CV

//// Styles
.subcat {
	text-align: right;
	font-style: italic;
}

.project-header {
	text-align: center;
}

.cv-meta {
	font-size: smaller;
}

//// Media Queries for Mobile

@media (max-width: 58em) {

	.one-half,
	.one-third,
	.two-thirds,
	.three-fourths,
	.one-fourth {
		display: block;
		float: none;
		width: 100%;
	}
}