// Fix the weird link color
.sidebar-about h1 a {
	padding-top: 0.1rem;
}

// Menu
.sidebar-nav-item {
	// font-weight: 100;
	font-size: 1.4rem;
	line-height: 0.9;
	margin-bottom: 0.6rem;
	padding-top: 0.13rem;
}

// Sharesheet
.sharesheet {
	padding-bottom: 1rem;
	font-size: 80%;
}
.shareicon {
	padding-right: 0.85rem;
	font-size: 1.4rem !important;
}
#searchsite {
	& form {
		width: 100%;
		padding-top: 1em;
	}
	& input {
		width: 100%;
		font-size: 1rem;
	}
}

// Credit
.credit {
	font-size: 0.9rem;
}