// Base color
$base-color: #75b5aa;

// Accent color
$accent-color: #F2AB9B;
$accent-color-oncolor: #ffc9a5;

// Gradient
$blue: #406D9F;
$grad-1a: desaturate(darken($blue, 10/1), 3);
$grad-1b: desaturate(darken($blue, 10/2), 1);
$grad-1c: $blue;
$grad-1d: desaturate(lighten($blue, 5*1), 1);
$grad-1e: desaturate(lighten($blue, 5*2), 3);
$grad-1f: desaturate(lighten($blue, 5*3), 5);